body {
    font-family: "Ninja Naruto", arial;
  }

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #ffb732;
    border-radius: 1rem;
}

/* Dark Mode Switch CSS */
  
  .switch-container{
    position: absolute;
    top:10%;
  }
  
  .switch-container #switch {
    display: none;
  }
  .switch-container .switch-label {
    position: relative;
    cursor: pointer;
    margin: 0;
  }
  .switch-container .switch-label .switch-rail {
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 70px;
    height: 30px;
    background: #ff9a47;
    border-radius: 50px;
    overflow: hidden;
    bottom: -14px;
      right: -6rem;
  }
  .switch-container .switch-label .switch-rail .switch-slider {
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
  }
  .switch-container #switch:checked + .switch-label .switch-rail {
    transition: all 0.2s ease-in-out;
    background: #2e4a6b;
  }
  .switch-container #switch:checked + .switch-label .switch-rail .switch-slider {
    transition: all 0.2s ease-in-out;
    transform: translateX(40px);
  }
  
  .search{
    position: relative;
    left: 200px;
    height: 60px;
    width: 60px;
  }
  
  /*.loader {
    filter:hue-rotate(0deg);
    background:linear-gradient(45deg,#0f8,#08f);
    animation:hue 10000ms infinite linear;
    background-color: #dc3545;
  }*/
  
  
  .fixed-top{
    position: sticky;
  }
  
  .theme-btn{
    padding-top: 5px;
  }
  
  .search {
    /* position: fixed; */
    left: 10px;
    height: 48px;
    width: 48px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    /* box-shadow: 0 0 0 5px black; */
    overflow: hidden;
    border: 1px solid #999;
  }
  
  .activated {
    width: 360px;
  }
  
  .search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .search .icon::before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #000;
    border-radius: 50%;
    transform: translate(-4px, -4px);
  }
  .search .icon::after {
    content: " ";
    position: absolute;
    width: 3px;
    height: 12px;
    background: #000;
    transform: translate(6px, 6px) rotate(315deg);
  }
  
  .search .input {
    position: relative;
    width: 300px;
    height: 48px;
    left: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
  }
  
  .clear {
    position: absolute;
    top: 38%;
    transform: translate(-50%);
    /* border: 2px solid red; */
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .clear::before {
    position: absolute;
    content: " ";
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
  }
  .clear::after {
    position: absolute;
    content: " ";
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
  }
  
  .brand1 {
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 1px blue;
  }
  
  
  /* .nav1 {
    background-color: black;
  } */
  
  
  .topic {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: red;
    text-shadow: 2px 4px 4px yellow;
    text-decoration: underline;
  }
  img {
    object-fit: contain;
    width: 100%;
  }
  .col-md-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card-bg {
    background-color: rgb(174, 184, 86);
  }
  h2 {
    color: black;
  }
  /*about*/
  #para {
    text-align: center;
    font-size: 20px;
    color: black;
  }
  body {
    background-color: white;
    font-weight: bold;
    text-align: justify;
  }
  h1 {
    color: black;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
    line-height: 14pt;
  }
  #one {
    background-color: rgb(40, 103, 178);
  }
  #two {
    background-color: rgb(33, 31, 31);
  }
  #three {
    background-color: rgb(225, 48, 108);
  }
  #buttons {
    margin-bottom: 10px;
  }
  .navTitle {
    color: #ffffff;
    padding-left: 50px;
    size: 50px;
  }
  .row1 {
    margin-top: 6%;
  }
  .itemNav {
    padding: 15px;
  }
  .about-title {
    padding-top: 2%;
    color: white;
    font-weight: normal;
  }
  .card {
    overflow: clip;
  }
  
  .card img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }
  
  @media only screen and (max-width: 600px) {
    .display-3 {
      font-size: 4rem;
    }
    .lead {
      font-size: 1.6rem;
    }
    .gallery-head {
      font-size: 2rem;
    }
    .navTitle {
      padding-left: 3px;
    }
  }
  .card h2 {
    color: #dc3545;
  }
  body {
    font-family: "Ninja Naruto", arial;
  }

  body.darkmode {
    background: black;
  }
  p.aboutcolor {
    color: white;
  }
  body.aboutdarkmode {
    background: black;
    color: #ffffff;
  }
  body.lightmode {
    background: radial-gradient(blue, violet);
  }
  .brand1 {
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 1px blue;
  }
  /* .nav1 {
    background-color: black;
  } */
  .topic {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: red;
    text-shadow: 2px 4px 4px yellow;
    text-decoration: underline;
  }
  img {
    object-fit: contain;
  }
  .card-bg {
    background-color: rgb(174, 184, 86);
  }
  h2 {
    color: black;
  }
  /*about*/
  #para {
    text-align: center;
    font-size: 20px;
    color: black;
  }
  body {
    background-color: white;
    font-family: "Righteous", cursive;
    font-weight: bold;
  }
  h1 {
    color: black;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
    line-height: 14pt;
  }
  #one {
    background-color: rgb(40, 103, 178);
  }
  #two {
    background-color: rgb(33, 31, 31);
  }
  #three {
    background-color: rgb(225, 48, 108);
  }
  #buttons {
    margin-bottom: 10px;
  }
  .navTitle {
    color: #ffffff;
    padding-left: 50px;
    size: 50px;
  }
  .row1 {
    margin-top: 6%;
  }
  .itemNav {
    padding: 15px;
  }
  .about-title {
    padding-top: 2%;
  }
  .card {
    overflow: clip;
  }
  
  .card img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }
  
  @media only screen and (max-width: 600px) {
    .display-3 {
      font-size: 4rem;
    }
    .lead {
      font-size: 1.6rem;
    }
    .gallery-head {
      font-size: 2rem;
    }
    .navTitle {
      padding-left: 3px;
    }
  }
   
  .card-bg {
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .card-bg:hover {
    background: rgba(255, 255, 255, 0.4);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 40px 40px 40px 40px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* box-shadow: #200e14 4px 3px; */
  }
  
  h2.card-title {
    font-size: 2.8rem;
    font-weight: 900;
    color: #141a46;
  }
  
  .topic {
    color: white;
    text-shadow: 2px 4px 4px black;
  }
  
  .card:nth-of-type(2n+1){
    transform: translateX(-10%);
  }
  .card:nth-of-type(2n){
    transform: translateX(10%);
  }
  .card{
    transition: all 550ms ease-in;
    opacity: 0;
  }
  
  .appear{
    transform: translateX(0) !important;
    opacity: 1;
  }
  
  /* Mobile devices */
  @media (min-width: 320px) and (max-width: 480px) {
    #carouselExampleIndicators {
      margin-top: 80px;
    }
    .topic {
      color: white;
      text-shadow: 2px 4px 4px black;
      font-weight: 500;
      font-size: 40px;
      margin-top: 30px !important;
    }
    h2.card-title {
      text-align: center;
    }
    .navbar-nav button {
      margin-left: auto;
      margin-right: auto;
    }
    .nav-link{
      margin-left: 45%;
    }
    .search {
      left: 200px;
    }
    .about-title b {
      line-height: 2.5rem;
    }
  }
  
  
  
  ul.navbar-nav.mr-auto {
    position: absolute;
    right: 10rem;
  }
  
  
  button#scrolltopBtn {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    font-size: 25px;
    font-weight: bold;
    /* text-align: center; */
    /* position: sticky; */
    margin-top: 100px;
      position: fixed;
      margin-left: 89rem;
     z-index: 2000;
     border: none;
  } 